attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==45.0.3
docutils==0.21.2
Flask==3.1.1
HTMLParser==0.0.2
importlib_metadata==8.7.0
injector==0.22.0
ipython==9.3.0
ipywidgets==8.1.7
Jinja2==3.1.6
jnius==1.1.0
keyring==25.6.0
lockfile==0.12.2
mock==5.2.0
Pillow==11.2.1
protobuf==6.31.1
pyOpenSSL==25.1.0
railroad==0.5.0
Sphinx==8.2.3
thread==2.0.5
tornado==6.5.1
truststore==0.10.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1

python-dotenv~=1.1.0
internal~=1.0.128
openai~=1.82.1